.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: 300px;
  background: var(--invertor-bg-color);
  transition: width 0.3s;
  position: relative;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}