.app.light {
  --bg-color: #ac9c9c;
  --invertor-bg-color: #724f4f;

  --primary-color: #5d6c2e;
  --secondary-color: #757575;

  --inverted-primary-color: #a6b864;
  --inverted-secondary-color: #353434;
}