.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--invertor-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 15px;
}